@model DataSekolahWithIdentity.Models.Kelas

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Kelas</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tingkat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tingkat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Jurusan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Jurusan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WaliKelas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WaliKelas)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.KelasId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
